<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrashLocator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
<style>
body {
    background-image:url("{{ url_for('static', filename='img/bg.JPG') }}");
background-size:100% 100%;
background-repeat:repeat-y;
   color: aqua !important;
   font-family: Garamond !important;
}


</style>

    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  </head>
  <body>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <!--________________________________________________________________________-->
    
      <!-- Header and Nav -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
<img src="{{ url_for('static', filename='img/trashlogo.png') }}" width ='165' height = '45' style="padding-bottom: 2px;" />            
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">

    <ul class="left">
        <li class="divider"></li>
        <li><a href="/">HOME</a></li>
        <li class="divider"></li>
        <li><a href="/about">ABOUT</a></li>
        <li class="divider"></li>
        <li><a href="/map">MAP</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">RESOURCES</a>
          <ul class="dropdown">
            <li><a target="_blank" href="http://www1.nyc.gov/311/">Submit Formal 311 Garbage Request</a></li>
            <li><a target="_blank" href="http://www1.nyc.gov/apps/311srmap/">311 Online Service Request Map</a></li>
            <li><a target="_blank" href="http://www.nyc.gov/html/dsny/html/home/home.shtml">DSNY Website</a></li>
            <li><a target="_blank" href="https://twitter.com/NYCSanitation">DSNY Twitter</a></li>
            <li><a target="_blank" href="http://www1.nyc.gov/nyc-resources/service/2392/sanitation-rules-and-regulations-summary">Sanitation Rules and Regultions</a></li>
          </ul>
        </li>
    </ul>  

 
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a class="padding" href="#" target="_blank"></a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">CONNECT</a>
          <ul class="dropdown">
            <li><a href="#">Login With Facebook</a></li>
            <li><a href="#">Login With Twitter</a></li>
            <li><a href="#">Login With Google</a></li>
            <li><a href="#">Use Your Email</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
<br>
<br>
 <div class="row">
 
   
 
        <div class="large-4 small-12 columns">
 
          <img src="{{ url_for('static', filename='img/trashicon.jpg') }}">
 
          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Just some briefs
</h5>
          </div>
 
          <a href="#">
          <div class="panel callout radius">
            <h6>THE FOUR MEMBERS</h6>
          </div>
          </a>
 
        </div>
  <div class="large-8 columns">
          <div class="row">
 
            <div class="small-6 large-centered columns">
              <img src="{{ url_for('static', filename='img/derek.jpg') }}" width = 400 height = 300>
 
              <div class="panel">
                <h5>Derek Tang</h5>
                <h6 class="subheader">Back End</h6>
              </div>
            </div>
 <br>
            <div class="small-6 large-centered columns">
              <img src="{{ url_for('static', filename='img/kelvin.jpg') }}" width = 400 height = 300>
 
              <div class="panel">
                <h5>Kelvin Mei</h5>
                <h6 class="subheader">Front End</h6>
              </div>
            </div>
 <br>
            <div class="small-6 large-centered columns">
              <img src="{{ url_for('static', filename='img/tak.jpg') }}">
 
              <div class="panel">
                <h5>Tak Chi Wan</h5>
                <h6 class="subheader">Linking to Social Media</h6>
              </div>
            </div>
<br>
 <div class="small-6 large-centered columns">
              <img src="{{ url_for('static', filename='img/shaan.jpg') }}">
 
              <div class="panel">
                <h5>Shaan Sheikh</h5>
                <h6 class="subheader">Other Stuff</h6>
              </div>
            </div>
 
            
 
        
</div>


  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Stuyvesant SoftDev Period 6</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a></li>
            <li><a href="https://www.facebook.com/dtang96?fref=ts">Derek Tang</a></li>
            <li><a href="https://www.facebook.com/tak.c.wan.1?fref=ts">Tak Chi Wan</a></li>
            <li><a href="https://www.facebook.com/shaan.sheikh.1996">Shaan Shiekh</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
    
    

    <!--________________________________________________________________________-->

    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
