<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrashLocator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
<style>
body {
    background-color: aqua !important;
   color: #FF5C5C !important;
   font-family: Garamond !important;

}

</style>

    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  </head>
  <body>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <!--________________________________________________________________________-->
    
      <!-- Header and Nav -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
<img src="{{ url_for('static', filename='img/trashlogo.png') }}" width ='165' height = '45' style="padding-bottom: 2px;" />            
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">

    <ul class="left">
        <li class="divider"></li>
        <li><a href="#">TrashLocator</a></li>
        <li class="divider"></li>
        <li><a href="#">ABOUT</a></li>
        <li class="divider"></li>
        <li><a href="/map">MAP</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">RESOURCES</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
    </ul>  

 
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a class="padding" href="#" target="_blank"></a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">CONNECT</a>
          <ul class="dropdown">
            <li><a href="#">Login With Facebook</a></li>
            <li><a href="#">Login With Twitter</a></li>
            <li><a href="#">Login With Google</a></li>
            <li><a href="#">Use Your Email</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
<br>
<br>
 

<!-- First Band (Slider) -->
 
  <div class="row">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit>
        <li><img src=
        "{{ url_for('static', filename='img/trashlogo.png') }}" ></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
      </ul>
    </div>
  </div>
    
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->
 
  <div class="row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Why Use This?</h4>
      <p>Trashlocator is necessary for a healthy environment. Nowadays, trash is literally everywhere. One can take a look at the Hudson river and find soda cans, candy wrappers, and much more garbage. No one wants to ruin the environment for their future generations, right?</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>What This Does.</h4>
      <p>The user can track progress of waste removal from the street and is given the ability to provide input to the Department of Sanitation for the development of trends of where an abundance of trash and waste will be in the City of New York so that its removal can be better coordinated.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>What makes this possible?</h4>
      <p>Thanks to various apis such as the google map api, we can locate trash efficiently. Moreover, this website is created using foundation, so the foundation developers deserve credit as well. Lastly, this is brought to you by Stuyvesant High School Software Development period 6. :)</p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Github!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Check out our Github repository!</p>
          </div>
          <div class="large-3 columns">
            <a href="https://github.com/TrashLocator/TrashLocator" class="radius button right">Pushhhh!</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Stuyvesant SoftDev Period 6</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a></li>
            <li><a href="https://www.facebook.com/dtang96?fref=ts">Derek Tang</a></li>
            <li><a href="https://www.facebook.com/tak.c.wan.1?fref=ts">Tak Chi Wan</a></li>
            <li><a href="https://www.facebook.com/shaan.sheikh.1996">Shaan Shiekh</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
    
    

    <!--________________________________________________________________________-->

    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
