<!DOCTYPE html>

<html>
  
  <head>
    <title> Relay trash information in your area! </title>
  </head>

  <body>
    <h1 style = "text-align:center"> Input Information Below </h1>
    <form method = "POST" align = "center">
      <p> Neighborhood/address: <input type = "text" name = "location" value = "Address"> </p>
      <p> Severity of trash: <input type = "text" name = "trash" value = "Level"> </p>
      <input type = "submit" name = "button" value = "Submit">
      <br>
      <a href = "/"> Back to index page </href>
    </form>
  </body>
  
</html>
