<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TrashLocator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/map.css') }}>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src={{ url_for('static', filename='js/map.js') }}></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <!--________________________________________________________________________-->
    
      <!-- Header and Nav -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
<img src="{{ url_for('static', filename='img/trashlogo.png') }}" width ='165' height = '45' style="padding-bottom: 2px;" />            
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">

    <ul class="left">
        <li class="divider"></li>
        <li><a href="#">TrashLocator</a></li>
        <li class="divider"></li>
        <li><a href="#">ABOUT</a></li>
        <li class="divider"></li>
        <li><a href="/map">MAP</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">RESOURCES</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
    </ul>  

 
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a class="padding" href="#" target="_blank"></a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">CONNECT</a>
          <ul class="dropdown">
            <li><a href="#">Login With Facebook</a></li>
            <li><a href="#">Login With Twitter</a></li>
            <li><a href="#">Login With Google</a></li>
            <li><a href="#">Use Your Email</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="top:20px">
    <div id="map" style="width: 100%; height: 95.135%;"></div>
    <!-- Tabs of first marker -->
    <div id="wrapper1" class="wrapper">
        <div id="firstTabs" class="tabs">
            <span data-name="1">TrashLocator</span>

            <span data-name="2">Twitter</span>

            <span data-name="3">Facebook</span>

            <span data-name="4">Google+</span>

            <span data-name="5">Street View</span>

            <span data-name="6">Mini Map</span>

        </div>
        <div id="firstCard1" class="cardContent">
            <!-- Content of first tab card -->
            <div id="content">
                <div id="siteNotice"></div>

                <h1 style="text-align:center"> Report Trash </h1>

                <form method="POST" align="center" id="reportForm">
                    <b>Closest matching address:</b>

                    <div id="address"></div>
                    <p align="center">Email Address: <input type="text" name="email" value="" style="
                            width: 168px;
                            height: 26px;
                            margin-bottom: 0px;
                            padding-right: 4px;
                            padding-left: 4px;
                            padding-top: 4px;
                            padding-bottom: 4px;">
                    </p>
                    <p align="center">Severity of trash: 0
                        <input type="range" name="trash" min="1" max="10">10</p>
                    <p align="center">Attach a photo: <input type="file" name="photo" allow="image/*" style="width:200px">
                        <p>
                            <p>
                                <input type="submit" name="button" value="Submit">
                                <input onclick="deleteMarkers();" type=button value="Delete Markers">
                            </p>
                            <br>
                </form>

            </div>
        </div>
        <script>
                $('#reportForm').submit(function () {
                    addHistoryMarker(mainmarker.getPosition());
                    return false;
                })
                </script>
        <div id="firstCard2" class="cardContent">
            <div align="center" id="Div1">
                <div id="Div2"></div>

                <h1 style="text-align:center"> Report Trash </h1>
                    <b>Closest matching address:</b>

                    <div id="address2"></div>

                <p>Below is a sample report posted via Twitter. Please describe the situation in the body of the tweet. Then follow with the hashtag <b>#TrashPickupNYC #(Your Neighborhood) #(Optional: Street Intersection)</b>. You may also upload a photo
                    onto the tweet.</p>
                <blockquote class="twitter-tweet" lang="en">
                    <p>Clean up here please. <a href="https://twitter.com/search?q=%23TrashPickupNYC&amp;src=hash">#TrashPickupNYC</a>

                        <a href="https://twitter.com/search?q=%23Tribeca&amp;src=hash">#Tribeca</a>  <a href="https://twitter.com/search?q=%23345Chambers&amp;src=hash">#345Chambers</a>

                        <a href="http://t.co/wpItU9vf7v">pic.twitter.com/wpItU9vf7v</a>

                    </p>&mdash; NYC Trash Locator (@NYCTrashLocator) <a href="https://twitter.com/NYCTrashLocator/statuses/454624168605007872">April 11, 2014</a>

                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br>
                <a href="https://twitter.com/intent/tweet?button_hashtag=TrashPickupNYC" class="twitter-hashtag-button" data-size="large">Tweet #TrashPickupNYC</a>

            </div>
        </div>
        <div id="firstCard3" class="cardContent">
            <div id="Div10" align = "center">

            <h1 style="text-align:center"> Report Trash </h1>

            <b>Closest matching address:</b>

            <div id="address3"></div>

            <div id="Div11"></div>
            <p>Below is a sample report posted via Facebook. Please describe the situation in the body of the post. Then follow with the hashtag <b>#TrashPickupNYC #(Your Neighborhood) #(Optional: Street Intersection)</b>. You may also upload a photo along
                with the post.
                <p>
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-post" data-href="https://www.facebook.com/photo.php?fbid=1374286702855385&amp;set=a.1374286729522049.1073741827.100008222040193&amp;type=1" data-width="466">
                        <div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?fbid=1374286702855385&amp;set=a.1374286729522049.1073741827.100008222040193&amp;type=1">Post</a> by <a href="https://www.facebook.com/profile.php?id=100008222040193">Trash Locator</a>.</div>
                    </div>
                    <p>hi</p>
                    </div>
        </div>
        <div id="firstCard4" class="cardContent">
            <div align="center" id="Div13">
                <div id="Div14"></div>

                <h1 style="text-align:center"> Report Trash </h1>
                <b>Closest matching address:</b>

                <div id="address4"></div>

                <p>Below is a sample report posted via Google+. Please describe the situation in the body of the post. Then follow with the hashtag <b>#TrashPickupNYC #(Your Neighborhood) #(Optional: Street Intersection)</b>. You may also upload a photo along
                    with the post.
                    <p>
                        <div class="g-post" data-href="https://plus.google.com/107309753046337293392/posts/Jq4LRxDcuJi" data-width="100"></div>
                        <p>hi</p>
            </div>
        </div>
        <div id="firstCard5" class="cardContent">
            <!-- Street View -->
        </div>
        <div id="firstCard6" class="cardContent">
            <!-- MiniMap -->
        </div>
    </div>
    
    <div class="cartodb-logo" style="position:absolute; bottom:0; left:0; display:block; border:none; z-index:1000000;">
        <a href="/" target="_blank">
        <img width="71" height="29" src="https://lh6.googleusercontent.com/-OBKReeczUaA/U2PHrJA48FI/AAAAAAAAAEA/uYIqYsgyN5s/w502-h152-no/powerlogo.png" style="position:absolute; bottom:2px; left:74px; display:block; width:120px!important; height:45px!important; border:none; outline:none;" alt="CartoDB" title="CartoDB" data-dynamite-selected="true">
        </a></div>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>

</html>